$padding: 2em;

.controllers {
    display: block;
    height: 100%;

    .loading {
        display: block;
        font-size: 30px;
        margin: 2em 0;
        text-align: center;
    }

    .empty {
        font-size: 16px;
        text-align: center;
        color: $text-color-dimmed;
    }
}
