$disabled-color: #ddd;

$size: 40px;

.app-round-button {
    margin: 1em .5em;
    display: block;
    border: $border;
    color: $primary-color;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: $font-weight-bold;
    border-radius: 100%;

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $size;
        height: $size;
    }

    &:hover {
        color: $text-color;
        background-color: $primary-color;
        border-color: $primary-color;
    }

    &.disabled, &.working {
        color: $disabled-color;
        background-color: inherit;
        border-color: inherit;
        cursor: not-allowed;
    }
}
