.boxes-row {
    display: flex;
    margin-top: -$box-spacing;
    margin-bottom: -$box-spacing;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}
