.main-menu {
    background-color: $foreground-color;
    text-align: center;
    font-size: 16px;
    color: #6b6b6b;

    .items {
        padding: 1em 2em;
        margin: 0;
        list-style-type: none;

        .item {
            a {
                padding: 1em 0;
                border-bottom: $border;
                display: flex;
                text-decoration: none;
                color: inherit;

                .icon {
                    margin-right: 1em;
                }

                .label {

                }
            }

            a:hover {
                color: $primary-color;
            }

            &.active {
                .icon {
                    color: $primary-color;
                }
            }
        }

        .item:last-child {
            border-bottom: none;
        }
    }

}
