.main-layout {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;

    > .content-header {
        background-color: $foreground-color;
    }

    > .main-layout-content {
        flex: 1;
    }
}
