.schedule {
    $bar-height: 5px;

    .bar {
        grid-area: bar;
        height: $bar-height;
        width: 100%;
        background-color: $border-color;
        border-radius: $bar-height;
        position: relative;
        margin: .5em 0;

        .period {
            position: absolute;
            background-color: $primary-color;
            height: $bar-height;
            border-radius: $bar-height;

            $label-width: 100px;

            .wrapper {
                position: relative;
                height: 5*$bar-height;
                margin-top: -2 * $bar-height;

                .label-start, .label-end {
                    margin-top: 2.5 * $bar-height;
                    padding: 5px 0;
                    color: $text-color-dimmed;
                }

                .label-start {
                    position: absolute;
                    left: -$label-width;
                    width: $label-width;
                    text-align: right;
                }

                .label-end {
                    position: absolute;
                    right: -$label-width;
                    width: $label-width;
                    text-align: left;
                }

                .node-start, .node-end {
                    height: $bar-height * 2;
                    width: $bar-height * 2;
                    border-radius: $bar-height * 2;
                    background-color: $primary-color;
                    cursor: pointer;
                }

                .node-start {
                    position: absolute;
                    left: -$bar-height;
                    top: 1.5 * $bar-height;
                }

                .node-end {
                    position: absolute;
                    right: -$bar-height;
                    top: 1.5 * $bar-height;
                }
            }
        }
    }
}
