$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$foreground-color: #fff;
$background-color: #fbfbfd;

$text-color: #3E3F42;
$text-color-dimmed: #9EA0A5;

$border-color: #eaedf3;
$border: 1px solid $border-color;

$box-spacing: 2em;

$primary-color: #1665d8;


